In [11]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [13]:
df = pd.read_csv('titanic.csv')
df = df.dropna()
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [14]:
df['male'] = df['Sex'] == 'male'
X = df[['Pclass', 'male', 'Age', 'Fare']].values
y = df['Survived'].values
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train)
print(y_train)
#print(X_test)
print(y_test)

[1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0
 0 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 0 1 0 1 1 0 1 0
 0 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 1 0 1 0 1 0 1 1 1
 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 0 1 1 0 1 1 1 1 0 0 0]
[1 1 1 1 0 0 1 0 1 0 1 0 1 0 1 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 1 1 0 0 1 1 0
 1 1 1 0 1 1 0 1 0]

In [16]:
print("whole dataset:", X.shape, y.shape)
print("training set:", X_train.shape, y_train.shape)
print("test set:", X_test.shape, y_test.shape)

whole dataset: (183, 4) (183,)
training set: (137, 4) (137,)
test set: (46, 4) (46,)

In [23]:
model = LogisticRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

LogisticRegression()

In [20]:
model.fit(X, y)
y_pred = model.predict(X)
print('Accuracy : ' , accuracy_score(y, y_pred))
print('Precision : ' , precision_score(y, y_pred))
print('recall : ' , recall_score(y, y_pred))
print('f1 score : ' , f1_score(y, y_pred))

Accuracy :  0.7704918032786885
Precision :  0.8292682926829268
recall :  0.8292682926829268
f1 score :  0.8292682926829268